<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Desafio PHP</h1>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col-2"><img src="https://avatars1.githubusercontent.com/u/1775353?v=4" alt="Lucas Campelo"
                            class="img-fluid img-thumbnail"></div>
    <div class="col-10">
      <p>Olá! Eu me chamo Lucas Campelo.</p>
      <p>É com prazer que eu lhe apresento o resultado do meu desafio. Não deixe de ler o <a href="#">README.md</a> lá
        no Github.</p>
      <p>Github: <a href="http://github.com/lucascampelo" target="_blank">http://github.com/lucascampelo</a></p>
      <p>Linkedin: <a href="https://www.linkedin.com/in/lucascampelo" target="_blank">https://www.linkedin.com/in/lucascampelo</a></p>

      <p>
        Você pode começar por aqui:
        <a routerLink="/funcionarios" class="btn btn-sm btn-outline-primary">Lista de Funcionários</a>
      </p>
    </div>
  </div>
</div>
