<div class="row">
  <div class="col-12">
    <h4 class="d-inline-block" style="vertical-align: text-top;">Lista de Funcionários</h4>
    <a (routerLink)="['cadastrar']" class="btn btn-success btn-sm ml-2">Cadastrar novo</a>
  </div>
</div>

<router-outlet></router-outlet>

<div class="row mt-4">
  <div class="col-12">

    <ng-template [ngIf]="!funcionarios.length">
      <div class="m-5 text-center">
        <app-loader></app-loader>
      </div>
    </ng-template>

    <ng-template [ngIf]="funcionarios.length">
      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th>Nome Completo</th>
            <th class="text-center">Sexo</th>
            <th>E-mail</th>
            <th class="text-center">CPF</th>
            <th class="text-center">Data de Nascimento</th>
            <th class="text-center">Linkedin</th>
            <th class="text-center">Dependentes</th>
            <th>Última atualização</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcionario of funcionarios">
            <td>{{funcionario.nome_completo}}</td>
            <td class="text-center">{{funcionario.sexo | uppercase}}</td>
            <td>{{funcionario.email}}</td>
            <td class="text-center">{{funcionario.cpf}}</td>
            <td class="text-center">{{funcionario.data_nascimento | date:'shortDate'}}</td>
            <td class="text-center">
              <a class="text-success"
                 *ngIf="funcionario.linkedin"
                 [href]="funcionario.linkedin"
                 target="_blank"
              >
                Sim
              </a>
              <span *ngIf="!funcionario.linkedin">
                Não
              </span>
            </td>
            <td class="text-center">{{funcionario.dependentes.length}}</td>
            <td>{{funcionario.updated_at | date:'short'}}</td>
            <td width="300px">
              <a (routerLink)="['/funcionarios/editar', funcionario.id]" class="btn btn-sm btn-secondary">Editar</a>
              <button class="btn btn-sm btn-outline-danger ml-1" (click)="apagar(funcionario)">Apagar</button>
              <a (routerLink)="[funcionario.id, 'dependentes']" class="btn btn-sm btn-link ml-1">Ver dependentes</a>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>

  </div>
</div>
